rect {
  fill: none;
  pointer-events: all;
}


.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.header {
  background: #fff;
  border-bottom: solid 3px #ddd;
}

.header .navbar-nav>.active>a, .header .navbar-nav>li>a:hover {
  border-bottom-color: #66DC71;
}

.floating-box {
  background-color: #FFFFFF;
  background: #fafafa;
  border: 1px solid #eee;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.box-header {
  border-bottom: 2px solid #ddd;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}

.box-end {
  margin-bottom: 30px;
}
.txinfo {
  margin-bottom: 12px;
}
.info-box {
  padding: 10px;
}

.shadow-box {
  box-shadow: 0 6px 6px -6px #bbb;
  -moz-box-shadow: 0 6px 6px -6px #bbb;
  -webkit-box-shadow: 0 6px 6px -6px #bbb;
}
.header .navbar-nav>.active>a {
  border-color: #66DC71;
}
.header .navbar-nav>li>a {
  color: #687074;
}
.header .navbar-nav>.active>a, a:active, a:focus, .navbar-nav>li>a:hover {
  color: #66DC71;
}
.inside-floating-box {
  padding: 12px;
}

.header .navbar-nav>.active>a, .header .navbar-nav>.active>a:focus, .header .navbar-nav>.active>a:hover, .header .navbar-nav>li>a, .header .navbar-nav>li>a:focus, .header .navbar-nav>li>a:hover {
  background: 0 0;
}
.header .navbar-nav>li>a, .header .navbar-nav>li>a:focus {
  border-bottom: solid 3px transparent;
}

.profile .profile-body {
  padding: 20px;
  background: #f6f6f6;
}


.slogan-overlay .container p {
  color: #FFFFFF;
  font-size: 50px;
  margin: 80px auto;
  display: inline-block;
  line-height: 65px;
  font-family: "Inconsolata", Helvetica, Arial;
  text-shadow: 2px 2px black;
}


.navbar {
  background-color: #6495ed;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #2d2828;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #2d2828;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #2d2828;
  background-color: #b7c9e8;
}
.navbar .navbar-toggle {
  border-color: #b7c9e8;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #b7c9e8;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #2d2828;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2d2828;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2d2828;
    background-color: #b7c9e8;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2d2828;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2d2828;
    background-color: #b7c9e8;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2d2828;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2d2828;
    background-color: #b7c9e8;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2d2828;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2d2828;
    background-color: #b7c9e8;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #2d2828;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #2d2828;
  background-color: #b7c9e8;
}